<?xml version="1.0" encoding="UTF-8"?>
{{ ansible_managed | comment('xml') }}

<Server port="{{ instance.shutdown_port | default(tomcat_shutdown_port) }}" shutdown="{{ instance.shutdown_pass | default(tomcat_shutdown_pass) }}">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />

  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />

  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>

    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector port="{{ instance.non_ssl_connector_port | default(tomcat_non_ssl_connector_port) }}"
               address="{{ instance.address | default(tomcat_address) }}"
               protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="{{ instance.ssl_connector_port | default(tomcat_ssl_connector_port) }}"
{% if instance.maxparametercount is defined %}
               maxParameterCount="{{ instance.maxParameterCount }}"
{% endif %}
               />

{% if instance.ajp_enabled | default(tomcat_ajp_enabled) %}

    <Connector port="{{ instance.ajp_port | default (tomcat_ajp_port) }}"
              address="{{ instance.address | default(tomcat_address) }}"
              protocol="AJP/1.3"
              redirectPort="{{ instance.ssl_connector_port | default(tomcat_ssl_connector_port) }}"
{% if instance.maxparametercount is defined %}
              maxParameterCount="{{ instance.maxParameterCount }}"
{% endif %}
{% if instance.ajp_secret is defined %}
              secret="{{ instance.ajp_secret }}"
{% else %}
              secretRequired="false"
{% endif %}
{% if instance.packet_size is defined %}
              packetSize="{{ instance.packet_size }}"
{% endif %}
    />
{% endif %}

    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.LockOutRealm">

        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

{% if instance.access_log_enabled | default(tomcat_access_log_enabled) %}
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="{{ instance.access_log_directory | default(tomcat_access_log_directory) }}"
               prefix="{{ instance.access_log_prefix | default(tomcat_access_log_prefix) }}" suffix="{{ instance.access_log_suffix | default(tomcat_access_log_suffix) }}"
               fileDateFormat="{{ instance.access_log_file_date_format | default(tomcat_access_log_file_date_format) }}"
               maxDays="{{ instance.access_log_max_days | default(tomcat_access_log_max_days) }}"
               pattern="{{ instance.access_log_pattern | default(tomcat_access_log_pattern) }}" />
{% endif %}

      </Host>
    </Engine>
  </Service>
</Server>
